
.dashboard-aside {
    padding: 1rem;
    width: 300px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fdevbeep.com%2Fcss-blob-effects%2F&psig=AOvVaw1tjQo0cUWmFNwQRg7X-ktM&ust=1695231123750000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKiRx4Ont4EDFQAAAAAdAAAAABAE);    
    background-size: cover;
}

.dashboard-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.dashboard-section {
    margin-bottom: 2.5rem;
}

.dashboard-tabview {
    background-color: aliceblue;
    flex-grow: 1;
}

.dashboard-item {
    display: flex;
    gap: 5px;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    transition: transform .3s;
}

.dashboard-item:hover {
    font-weight: 500;
    cursor: pointer;
    transform: translateX(6px);
}

.dashboard-item:hover i::before{
    font-weight: 500;
}

.dashboard-tabview {
    padding: 2rem;
    background-image: url(https://img.freepik.com/vector-gratis/patron-formas-salpicaduras_53876-60578.jpg?w=826&t=st=1694992947~exp=1694993547~hmac=3389288f230c8e724b731aa00e5f55cbf5c47b65370846de64cb331f8404c62c);
    background-repeat: no-repeat;
    background-size: cover;
}


